{"sonic-ipsec:IPSEC_LIST":[{"name":"{{ vpn_name }}","local":"{{ local_ip }}","local_subnet":"{{ local_subnet }}","remote":"{{remote_ip }}","remote_subnet":"{{ remote_subnet }}","auth_method":"{{ auth_method }}","pre_shared_key":"{{ pre_shared_key }}","keyexchange":"ikev2","ike_lifetime":"20","lifetime":"20","esp_proposal":"{{ esp_proposal }}","charon_debug":"none","strict_crl_policy":"false","unique_ids":"false","cache_crls":"false","auto":"false","ike_proposal":"aes256-sha2_256-prfsha256-modp1024","cert_name":"dpu2Cert.der","local_id":"dpu1","ca_cert_name":"caCert.der","priv_key_algorithm":"rsa","priv_key_file":"dpu2Key.der","remote_id":"dpu2"}]}